.app{
  /* background-color:red; */
  display:grid;
  /* grid-template-columns:100%; */
  /* grid-template-rows:1fr 1fr 1fr; */
  grid-template-rows:;
  grid-template-areas:
  "nav"
  "content"
  /* height: 100vh; */
  /* "foo"; */
  /* background-image:url(../../assets/images/paper.jpg); */
}
.app_content{
   grid-area:content; 
  /* background-color:green; */
  /* background-image:url(../../assets/images/paper.jpg); */
}
