.main{
 /* height:100%; */
 /* width:800px; */
  display:grid;
  grid-template-columns:100%;
  /* grid-template-rows:1fr 1fr; */
  /* grid-template-rows:200px 200px; */
  grid-template-areas:
  "pos"
  "orders";
}
